<ion-view title="{{vm.settings.city+', '+vm.settings.country}}">
  <ion-nav-buttons>
    <a class="button icon-left ion-chevron-left button-clear" href="#/">Back</a>
  </ion-nav-buttons>
  <ion-content overflow-scroll=”true” class="has-header">
    <ion-list>
      <ion-item>
        <h1>{{vm.details.year}}</h1>
        <br>
        <i class="wi wi-{{vm.details.currently.icon}}"></i>
        {{vm.details.currently.temperature}} {{vm.details.currently.summary}}
      </ion-item>
      <ion-item>  
        Humidity: {{vm.details.currently.humidity * 100 | number: 2}}%
      </ion-item>
      <ion-item>  
        High: {{vm.details.daily.data[0].temperatureMax | number: 2}}
      </ion-item>
      <ion-item>  
        Low: {{vm.details.daily.data[0].temperatureMin | number: 2}}
      </ion-item>
      <ion-item>  
        High time: {{vm.details.daily.data[0].temperatureMaxTime}}
      </ion-item>
      <ion-item>  
        Low time: {{vm.details.daily.data[0].temperatureMinTime}}
      </ion-item>
      <ion-item>  
        Windspeed: {{vm.details.currently.windSpeed}}
      </ion-item>
      <ion-item>  
        Wind bearing: {{vm.details.currently.windBearing}}
      </ion-item>
      <ion-item ng-if="vm.details.currently.visibility">  
        Visibility: {{vm.details.currently.visibility}}
      </ion-item>
      <ion-item ng-if="vm.details.daily.data[0].precipType">  
        Precipitation type: {{vm.details.daily.data[0].precipType}}
      </ion-item>
      <ion-item ng-if="vm.details.currently.precipIntensity">  
        Precipitation intensity: {{vm.details.currently.precipIntensity}}
      </ion-item>
      <ion-item ng-if="vm.details.currently.precipProbability">  
        Precipitation: {{vm.details.currently.precipProbability * 100 | number: 2}}%
      </ion-item>
      <ion-item>  
        Dew point: {{vm.details.currently.dewPoint}}
      </ion-item>
      <ion-item>  
        Cloud cover: {{vm.details.currently.cloudCover}}
      </ion-item>
      <ion-item>  
        Pressure: {{vm.details.currently.pressure}}
      </ion-item>
      <ion-item>  
        Moon phase: {{vm.details.daily.data[0].moonPhase*100}}%
      </ion-item>
      <ion-item>  
        Sunrise time: {{vm.details.daily.data[0].sunriseTime}}
      </ion-item>
      <ion-item>  
        Sunset time: {{vm.details.daily.data[0].sunsetTime}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

